/* ==========================================================================
   Base styles
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
  }
  
  /*
   * Remove text-shadow in selection highlight:
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined
   */
  
  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  /*
   * A better looking default horizontal rule
   */
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
  /*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   */
  
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  
  /*
   * Remove default fieldset styles.
   */
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  /*
   * Allow only vertical resizing of textareas.
   */
  
  textarea {
    resize: vertical;
  }
  
  /* ==========================================================================
     Browser Upgrade Prompt
     ========================================================================== */
  
  .browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
  }
  
  /* ==========================================================================
     * Basic styles
     ========================================================================== */

h1, h2 {
  font-family: 'Lato', sans-serif;
}
h3, h4 {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
header {
    position: relative;
    display: block;
    width: 100%;
    padding: 20px 5%;
    background: transparent;
    justify-content: space-between;
    align-items: center;
    font-family: 'Lato', sans-serif;
    color: #000;
  }

  .mail_phone-wrap {
    display: flex;
    width: 200px;
    justify-content: space-between;
    font-size: 10px;
  }

  .social-media_wrap {
    text-align: end;
    width: 100%;
    margin-top: 5px;
  }

  .fab {
      padding: 0 10px;
      font-size: 10px;
      color: #000;
  }

  .divider {
    height: 1px;
    background-color: #e0e0e0;
  }
  .nav-wrap {
    display: flex;
    align-items: center;
    margin-left: 30px;
    height: 100px;
  }
  .logo {
    font-weight: bold;
    font-size: 30px;
  }
  .nav {
    margin-left: 20px;
  }
  .nav-item {
    color: #000;
    padding: 0 20px;
    text-decoration: none;
  }

  .nav-item:hover {
      color: #ff914d;
      text-decoration: none;
  }

  .title-wrap {
      display: block;
      position: relative;
      text-align: center;
      height: 200px;
      align-items: center;
      font-family: 'Lato', sans-serif;
  }
  .bg-grey {
    background-color: #f5f3f3;
  }
  .title {
    font-weight: 900;
    font-size: 30px;
    margin-top: 50px; 
  }

  .orange {
      color: #ff914d;
  }

.items_wrap {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  width: 1110px;
}

.item {
  display: inline-block;
  font-size: 30px;
  justify-content: center;
  background-color: #fff;
  height: 300px;
  width: 200px;
  
}

.item_img {
  height: 200px;
  width: auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 20px;
}

.item_text {
  text-align: center;
  margin: 10px 0;
}
.adv {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.adv_wrap_main {
  display: flex;
  position: relative;
  height: 100px;
  width: 550px;
  background-color: #fff;
  margin-top: 70px;
  justify-content: space-evenly;
  align-items: center;
}

.adv_wrap_second {
  display: flex;
  position: relative;
  height: 100px;
  width: 470px;
  margin-left: 60px;
  background-color: #fff;
  margin-top: 70px;
  justify-content: space-evenly;
  align-items: center;
}

.adv_img {
  height: 80px;
  width: 80px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.adv_title {
  margin: 0;
  font-weight: 900;
}
.adv_text {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  margin: 0;

}

.adv_cart-item {
  display: inline-block;
}

.shirt {
  display: inline-block;
  font-size: 30px;
}

.subscribe_wrap {
  display: flex;
  position: relative;
  height: 100px;
  width: 1100px;
  background-color: #fff;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 50px;
}

.subscribe_text {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-size: 12px;
  padding-right: 250px;
}

.subscribe__form-input {
  position: relative;
  height: 50px;
  border: none;
  background-color: transparent;
  width: 200px;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-size: 12px;
  display: inline-block;
  outline: 0;
  margin-left: 10px;
}

.subscribe__form-btn {
  display: inline-block;
  width: 100px;
  height: 50px;
  background-color: #ff914d;
  outline: 0;
  border: none;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  cursor: pointer;
}

footer {
  font-family: 'Lato', sans-serif;
  margin: 70px 0;
}
.footer_nav_wrap {
  position: relative;
  display: flex;
  align-items: center;
}

.footer_nav {
  margin-left: 150px;
}  

.footer_nav_item {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  display: inline-block;
  font-size: 10px;
  text-decoration: none;
  color: #000;
}

.footer_nav_item:hover {
  color: #ff914d;
}